<template>
    <v-container>
        <v-row>
            <v-col cols="4">
                <v-select
                        v-model="sortBy"
                        :items="sortByList"
                        item-text="itemName"
                        item-value="id"
                        label="Sort by"
                        @change="sortUsers"
                ></v-select>
            </v-col>
            <v-btn color="green darken-1 mt-5" @click="goAdd">Add customer</v-btn>
        </v-row>
        <v-row>
            <v-col v-for="customer in customerList"
                   :key="'customer' + customer.id"
                   cols="12"
                   md="3"
            >
                <v-card
                        class="pa-5"
                        outlined
                        tile
                >
                    <p>
                        First Name: {{customer.firstName}}
                    </p>
                    <p>
                        Last Name: {{customer.lastName}}
                    </p>
                    <p>
                        Profession: {{customer.profession}}
                    </p>
                    <p>
                        Birthday: {{new Date(customer.birthday).toLocaleDateString()}}
                    </p>
                    <p class="mb-0">
                        Rating: {{customer.rating}}
                    </p>
                    <div class="d-flex justify-space-between mt-5">
                        <v-btn class="primary" @click="editCustomer(customer.id)">Edit</v-btn>
                        <v-btn class="error" @click="tempCustomerId = customer.id; confirmPopup = true">Delete</v-btn>
                    </div>
                </v-card>
            </v-col>
        </v-row>
        <v-row justify="center">
            <v-dialog v-model="confirmPopup" persistent max-width="290">
                <v-card>
                    <v-card-title class="headline">Are you sure?</v-card-title>
                    <v-card-text>After deletion, customer information will be lost forever</v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" text @click="confirmPopup = false">Disagree</v-btn>
                        <v-btn color="red darken-1" text @click="deleteCustomerById">Agree</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-row>
    </v-container>

</template>

<script>
    export default {
        name: 'Home',
        components: {},
        data() {
            return {
                confirmPopup: false,
                tempCustomerId: null,
                customerList: [],
                sortBy: null,
                sortByList: [
                    {itemName: 'Name', id: 1},
                    {itemName: 'Rating', id: 2}
                ]
            }
        },
        methods: {
            goAdd() {
                this.$router.push('/add');
            },
            deleteCustomerById() {
                this.confirmPopup = false;
                this.$store.commit('deleteCustomer', this.tempCustomerId);
            },
            editCustomer(id) {
                this.$router.push({name: 'edit', params: {id: id}})
            },
            sortUsers() {
                switch (this.sortBy) {
                    case 1:
                        this.customerList.sort((a, b) => a.firstName.localeCompare(b.firstName));
                        break;
                    case 2:
                        this.customerList.sort((a, b) => b.rating - a.rating);
                        break;
                }
            }
        },
        beforeMount() {
            this.customerList = this.$store.state.customersList;
        }
    }
</script>
