<template>
    <v-form v-model="valid">
        <v-container>
            <v-row>
                <v-col
                        cols="12"
                        md="4"
                >
                    <v-text-field
                            v-model="customerInfo.firstName"
                            :rules="nameRules"
                            :counter="20"
                            label="First name"
                            required
                    ></v-text-field>
                </v-col>

                <v-col
                        cols="12"
                        md="4"
                >
                    <v-text-field
                            v-model="customerInfo.lastName"
                            :rules="nameRules"
                            :counter="20"
                            label="Last name"
                            required
                    ></v-text-field>
                </v-col>

                <v-col
                        cols="12"
                        md="4"
                >
                    <v-text-field
                            v-model="customerInfo.email"
                            :rules="emailRules"
                            label="E-mail"
                            required
                    ></v-text-field>
                </v-col>
                <v-col
                        cols="12"
                        md="4"
                >
                    <v-date-picker v-model="customerInfo.birthday"></v-date-picker>

                </v-col>
                <v-col
                        cols="16"
                        md="2"
                >
                    <v-select
                            v-model="customerInfo.rating"
                            :items="ratings"
                            label="Rating"
                    ></v-select>
                </v-col>
            </v-row>
            <div class="d-flex justify-center mt-5">
                <v-btn class="primary" @click="saveCustomer" :disabled="!valid">
                    Save
                </v-btn>
            </div>
        </v-container>
    </v-form>
</template>

<script>
    export default {
        name: "edit",
        data() {
            return {
                ratings: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
                customerInfo: null,
                valid: false,
                nameRules: [
                    v => !!v || 'First/Last name is required',
                    v => v.length <= 20 || 'Name must be less than 20 characters',
                ],
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+/.test(v) || 'E-mail must be valid',
                ],
            }
        },
        methods: {
            saveCustomer () {
                this.customerInfo.birthday = new Date(this.customerInfo.birthday).getTime();
                this.$store.commit('setEditCustomer', this.customerInfo);
                this.$router.push('/');
            },
        },
        beforeMount() {
            const customers = this.$store.state.customersList;
            this.customerInfo = customers.find(item => item.id == (this.$route.params.id));
            this.customerInfo.birthday = new Date(this.customerInfo.birthday).toISOString().substr(0, 10);
        }
    }
</script>

<style scoped>

</style>