<template>
  <v-footer>
   <v-container>
     <div class="d-flex justify-space-between">
       <div>
         Actual customers: {{$store.state.customersList.length}}
       </div>
       <div>&copy; {{ new Date().getFullYear() }}</div>
     </div>
   </v-container>
  </v-footer></template>

<script>
  export default {
    name: "FooterComponent"
  }
</script>

<style scoped>

</style>