<template>
    <div class="header">
        <v-form v-model="valid" v-if="!$store.state.logined">
            <v-container>
                <v-row>

                    <v-col
                            cols="12"
                            md="4"
                    >
                        <v-text-field
                                v-model="email"
                                :rules="emailRules"
                                label="E-mail"
                                required
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-text-field
                                v-model="password"
                                :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                                :rules="[rules.required, rules.min]"
                                :type="show1 ? 'text' : 'password'"
                                name="input-10-1"
                                label="Password"
                                hint="At least 8 characters"
                                counter
                                @click:append="show1 = !show1"
                        ></v-text-field>
                    </v-col>

                    <v-col cols="12" md="4">
                        <v-btn class="mt-4" @click="submitForm" :disabled="!valid">Log In</v-btn>
                    </v-col>
                </v-row>
                <transition type="fade">
                    <p v-if="loginError" class="error">{{loginError}}</p>
                </transition>
            </v-container>
        </v-form>
        <v-container v-else>
            <v-row>
                <v-col>
                    <v-btn @click="logOut">Log Out</v-btn>
                </v-col>
            </v-row>
        </v-container>
    </div>
</template>

<script>
    export default {
        name: "HeaderComponent",
        data() {
            return {
                valid: false,
                password: '',
                show1: false,
                loginError: false,
                rules: {
                    required: value => !!value || 'Required.',
                    min: v => v.length >= 8 || 'Min 8 characters',
                },
                email: '',
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+/.test(v) || 'E-mail must be valid',
                ],
            }
        },
        methods: {
            submitForm() {
                const user = this.$store.state.users.find(item => item.email === this.email);
                if (user) {
                    if (user.password === this.password) {
                        this.$store.commit('setLogined', true);
                        this.$forceUpdate();
                    } else {
                        this.loginError = "Wrong password"
                    }
                } else {
                    this.loginError = "No such user"
                }
            },
            logOut() {
                this.$store.commit('setLogined', false);
            }
        },
    }
</script>

<style scoped lang="scss">
    .header {
        border-bottom: 2px solid grey;
    }
</style>