<template>
  <v-app>
    <header-component></header-component>
    <router-view></router-view>
    <footer-component></footer-component>
  </v-app>
</template>

<script>

import HeaderComponent from "./components/HeaderComponent";
import FooterComponent from "./components/FooterComponent";
export default {
  name: 'App',
  components: {FooterComponent, HeaderComponent}
};
</script>
